<table class="table table-bordered">
  <tr>  
    <td>
      <div class="center square0">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
    <td>
      <div class="center square1">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
    <td>
      <div class="center square2">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
  </tr>
  <tr>  
    <td>
      <div class="center square3">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
    <td>
      <div class="center square4">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
    <td>
      <div class="center square5">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
  </tr>
  <tr>  
    <td>
      <div class="center square6">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
    <td>
      <div class="center square7">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
    <td>
      <div class="center square8">
        <%= image_tag("blank.jpg", :size => "100x100") %>
      </div>
    </td>
  </tr>    
</table>
