<%= form_for @tictactoe do |f| %>
  <%= f.fields_for :players do |builder| %>
    <div class="row">      
      <div class="span5">
        </br>
        <%= builder.text_field :name, :placeholder => "Type in name...", :class => 'player-input' %>
        <%= builder.hidden_field :win, :value => 0 %>
        <%= builder.hidden_field :lose, :value => 0 %>
        <%= builder.hidden_field :draw, :value => 0 %>
        <%= builder.hidden_field :first_to_act, :value => "true" %>
      </div>
    </div>
  <% end %>
  </br>
  <p><%= f.submit "Crear Jugador", class: "btn btn-large btn-primary" %></p>
<% end %> 
